* {
    box-sizing: border-box; /* Facilita el cálculo de ancho y alto */
}

/* Tipografías */
@font-face {
    font-family: Titulos;
    src: url("/assets/Kadwa-Bold.ttf");
}

@font-face {
    font-family: Subtitulo;
    src: url("/assets/Oswald-Bold.ttf");
}

@font-face {
    font-family: Parrafo;
    src: url("/assets/Barlow-Regular.ttf");
}

body, html {
    margin: 0;
    padding: 0;
    background-color: #a0a7ff; /* Color de fondo de la página */
    color: white; /* Color del texto */
    font-family: Arial, sans-serif; /* Fuente del texto */
    width: 100%;
    height: 100%;
    overflow-x: hidden; /* Oculta el desbordamiento horizontal, si es necesario */
}

body, h1, h2, h3, p, ul, li {
    margin: 0;
    padding: 0;
}

/* INICIO DEL HEADER */
nav {
    position: static;
    display: flex;
    padding: 20px;
    top: 0;
}

.logo {
    display: flex;
    align-items: flex-start;
    flex-direction: row-reverse;
    gap: 20px;
}

.logo-img {
    height: 70px; /* Ajusta la altura del logo */
}
  
.logo-text {
    font-size: 24px;
    font-weight: bold;
    font-family: Titulos;
    margin-top: 5%;
}

.search-form {
    flex-grow: 1;
    display: flex;
    justify-content: center;
}
  
.search-input {
    width: 50%;
    padding: 15px;
    border: 4px solid #685BF9;
    border-radius: 180px;
}
  
.user-cart {
    display: flex;
    align-items: flex-end;
    gap: 30px;
}

.icon {
    width: 50px;
    height: 50px;
    cursor: pointer;
    margin-bottom: 7%;
}

/* BANNER */
.banner {
    position: relative;
    width: 100%;
    overflow: hidden;
}

.banner_img {
    width: 100%;
    height: auto;
}

.banner_text {
    position: absolute;
    font-family: Parrafo;
    font-size: 100px;
    top: 50%;
    left: 30%;
    transform: translate(-50%, -50%);
    color: white;
    text-shadow: 1px 1px 2px black;
}

/* SUBTITULO NUESTROS PRODUCTOS */
.nuestros_productos {
    display: flex;
    width: 100%;
    font-size: 50px;
    font-family: Subtitulo;
    background-color: #7f7eff;
    padding: 40px;
    justify-content: center;
    top: -4px;
}

/* CATALOGOS DE ROPA */
.seccion_catalogos {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    padding: 20px;
}

.catalogo {
    flex: 1;
    max-width: calc(33.33% - 20px);
    position: relative;
}

.catalogo img {
    width: 100%;
    height: auto;
}

.catalogo h3 {
    font-family: Titulos;
    font-size: 40px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    text-align: center;
    padding: 0px 15px;
    border-radius: 5px;
    background-color: rgb(0, 0, 0,0.5);
}

.btn_conocer {
    position: absolute;
    bottom: 60px;
    left: 50%;
    transform: translateX(-50%);
    padding: 10px 20px;
    background-color: #7f7eff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 30px;
    font-family: Subtitulo;
}

.btn_conocer:hover {
    background-color: #685BF9;
}

/* FOOTER */
footer {
    padding: 20px;
}

.garantias {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.garantia {
    flex: 1 1 18%;
    text-align: center;
    margin: 10px;
    font-family: Parrafo;
    font-weight: bold;
    font-size: 20px;
}

.garantia img {
    max-width: 100%;
    height: auto;
}

.linea_separadora {
    height: 5px;
    background-color: #685BF9;
    margin: 2%;
}

.contactos {
    display: flex;
    justify-content: space-between;
}

.contacto {
    flex: 1 1 18%;
    text-align: center;
    margin: 10px;
    font-family: Parrafo;
    font-weight: bold;
    font-size: 20px;
}

.redes_sociales {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.iconos {
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
}

.iconos img {
    margin: 0 5px;
    height: 40px;
}

.logo {
    margin-bottom: 10px;
    height: 70px;
}

.texto {
    text-align: center;
    font-family: Titulos;
    font-weight: bold;
}

/* Media Queries */
/* Para iPhone 12 (390px de ancho) */
@media only screen and (max-width: 390px) {
    .banner_text {
        font-size: 50px;
        left: 20%;
    }

    .search-input {
        width: 80%;
    }

    .seccion_catalogos {
        flex-direction: column;
        align-items: center;
    }

    .catalogo {
        max-width: 100%;
        margin-bottom: 20px;
    }

    .nuestros_productos {
        font-size: 30px;
    }

    .btn_conocer {
        font-size: 20px;
    }
}

/* Para iPad Pro (1024px de ancho) */
@media only screen and (max-width: 1024px) {
    .banner_text {
        font-size: 80px;
        left: 40%;
    }

    .search-input {
        width: 70%;
    }

    .nuestros_productos {
        font-size: 40px;
    }

    .catalogo {
        max-width: 45%;
    }

    .btn_conocer {
        font-size: 25px;
    }
}
