* {
    box-sizing: border-box; /* Facilita el cálculo de ancho y alto */
}

/* Tipografías */
@font-face {
    font-family: Titulos;
    src: url("/assets/Kadwa-Bold.ttf")
}

@font-face {
    font-family: Subtitulo;
    src: url("/assets/Oswald-Bold.ttf");
}

@font-face {
    font-family: Parrafo;
    src: url("/assets/Barlow-Regular.ttf");
}

/* INICIO DEL HEADER */

header {
    position: static;
    display: flex;
    padding: 20px;
    top: 0;
  }

.logo {
    display: flex;
    align-items: flex-start;            /* Centra verticalmente el logo y el texto */
    flex-direction: row-reverse;
    gap: 20px;
}

.logo-img {
    height: 70px;                  /* Ajusta la altura del logo */
}
  
.logo-text {
    font-size: 24px;               /* Tamaño de fuente del texto */
    font-weight: bold;             /* Peso de la fuente */
    font-family: Titulos;
    margin-top: 5%;
}

.search-form {
    flex-grow: 1;                  /* Permite que el formulario ocupe espacio */
    display: flex;                 /* Usa flexbox para el input */
    justify-content: center;       /* Centra el input en el espacio */
}
  
.search-input {
    width: 50%;
    padding: 15px;                 /* Espaciado interno */
    border: 4px solid #685BF9;        /* Borde */
    border-radius: 180px;           /* Bordes redondeados */
}
  
.user-cart {
    display: flex;                 /* Usa flexbox para alinear iconos */
    align-items: flex-end;           /* Centra verticalmente los iconos */
    gap: 30px;
}

.icon {
    width: 50px;                   /* Ancho de los iconos */
    height: 50px;                  /* Alto de los iconos */
    cursor: pointer;               /* Cambia el cursor al pasar por encima */
    margin-bottom: 7%;
}

/* FIN DEL HEADER */



body, html {
    margin: 0;
    padding: 0;
    background-color: #a0a7ff; /* Color de fondo de la página */
    color: white; /* Color del texto */
    font-family: Arial, sans-serif; /* Fuente del texto */
    width: 100%;
    height: 100%;
    overflow-x: hidden; /* Oculta el desbordamiento horizontal, si es necesario */
}



main {
    margin: 0 150px;
}

p {
    font-size: 25px;
    color: rgb(255, 255, 255);
    text-align: center;
}

button {
    padding: 15px;
    background-color: azure;
    width: 300px;
    border-radius: 25px;
    border-color: #685bf9 ;
    margin-left: 30px;
    border-width: 5px;
    font-size: 15px;
   
}


h1 {
    font-family: Titulos;
    height: 100px;
    text-align: center;
    font-size: 60px;
}

h2 {
  
    height: 100px;
    font-size: 40px;
    font-family: Subtitulo;
    width: 90%;
    margin: auto;
    margin-top: 50px;
    margin-bottom: 50px;
    

}

h4 {
 font-size: 30px;
        
}

.contenedorimagenes {

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
}

.contenedorimagenes img {
    width: 300px;
    height: 400px;
    object-fit: cover;

}

#cajaprincipalyael {

    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 90%;
    margin: auto;
   

}


.cajaprincipalsublimados {

    display: flex;
    flex-direction: row;
    width: 90%;
    margin: 30px;
    gap: 20px;
  
}


.cajaprincipalsublimadosderecha{

    display: flex;
    flex-direction: row;
    width: 90%;
    margin: 30px;
    gap: 20px;
  
}


.cajaprincipalotrosdiseños{

    display: flex;
    flex-direction: row;
    width: 90%;
    margin: 30px;
    gap: 20px;
  
}

